@( eventTypeList: List[EventType]){

<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>New Event</title>
    <link rel="stylesheet" href="assets/CSS/Main.css" type="text/css" />


    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>
<br/>
<div id="sitename">
    <h1>Crisis Management System</h1>
</div>
<section id="body" class="width">
    <aside id="sidebar" class="column-left">


        <header>

            <h1>CMS</h1>

            <h2>Call Center</h2>

        </header>


        <nav id="mainnav">

            <ul>
                <li class="selected-item"><a href="new_event.html">New Event</a></li>
                <li><a href="event_list.html">Current Event</a></li>
                <li><a href="history.html">History Event</a></li>
                <li><a href="login.html" onCLick="return confirm('Confirm LOGOUT?')">Logout</a></li>

            </ul>

        </nav>

    </aside>
    <section id="content" class="column-right">
        <h3>Create New Event</h3>
        <fieldset>
            <legend>Crisis Information:</legend>

            <form action="@routes.CallOperatorController.addEvent()" method="post" >
                <p><label for="name">Reporter Name:</label>
                    <input type="text" name="name" id="name" placeholder="eg: John Lee (Last name)" value="" /><br /></p>

                <p><label for="NRIC">NRIC:</label>
                    <input type="text" name="NRIC" id="NRIC" placeholder="eg: S1111111A" value="" /><br /></p>

                <p><label for="number">Contact Number:</label>
                    <input type="text" name="contactNumber" id="contactNumber" placeholder="eg: 88888888" value="" /><br /></p>

                <p><label for="location">Location:</label>
                    <input type="text" name="location" id="location" placeholder="eg: Jurong Point" value="" /><br /></p>

                <p><label for="postalCode">Postal Code:</label>
                    <input type="text" name="postalCode" id="postalCode" placeholder="eg: 666666" value="" /><br /></p>

                </select>
                <p><label for="type">Type:</label>
                   <!-- <select class="form-control" name = "ETID">
                        <option value = "" selected="selected">Select Event Type</option>
                        <option value = "1">Emergency Ambulance</option>
                        <option value = "2">Rescue and Evacuation</option>
                        <option value = "Fire-Fighting">Fire-Fighting</option>
                        <option value = "Gas Leak Control">Gas Leak Control</option>
                    </select><br />-->
                    <select class = "selectone">
                        @for(eventType <- eventTypeList){
                        <option value = @eventType.id>
                            @eventType.getEventName()
                        </option>
                        }
                    </select><br/>

                <p><label for="description">Description:</label>
                    <textarea cols="60" rows="11" name="description" id="description"></textarea><br /></p>
                <p><input type="submit" name="submit" class="formbutton" value="Submit" onclick='return window.confirm("Confirm submit?");'/></p>

            </form>

        </fieldset>

        <br/>
        <footer class="clear">

            <p>&copy; 2015 CZ3003. by <a href="http://zypopwebtemplates.com/">Lemon Tea</a></p>
        </footer>

    </section>


    <div class="clear"></div>


</section>
<br/>
</body>
</html>





}
