@(message: String)

@main("Welcome to Play") {

<ul id="events"></ul>


<form action = "@routes.CallOperatorController.addEvent()" method = "post">
    <p><label for="name">Reporter Name:</label>
        <input type="text" name="reporterName" id="name" placeholder="eg: John Lee (Last name)" value="" /><br /></p>
    <p><label for="number">Mobile Number:</label>
        <input type="text" name="mobileNumber" id="mobileNumber" placeholder="eg: 88888888" value="" /><br /></p>
    <p><label for="location">Location:</label>
        <input type="text" name="location" id="location" placeholder="eg: Jurong Point" value="" /><br /></p>
    <p><label for="type">Type:</label>
        <select class="form-control" name = "type">
            <option value = "" selected="selected">Select Event Type</option>
            <option value = "Emergency Ambulance">Emergency Ambulance</option>
            <option value = "Rescue and Evacuation">Rescue and Evacuation</option>
            <option value = "Fire-Fighting">Fire-Fighting</option>
            <option value = "Gas Leak Control">Gas Leak Control</option>
        </select><br />
    <p><label for="message">Details:</label>
        <textarea cols="60" rows="11" name="description" id="detail"></textarea><br /></p>
    <p><input type="submit" name="submit" class="formbutton" value="Submit" onclick='return window.confirm("Confirm submit?");'/></p>

</form>


}
