<div class="crises-data">

    Search: <input ng-model="query">
    Sort by:
    <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
    </select>

    <ul class="crises">
        <li ng-repeat="crisis in crises | filter:query | orderBy:orderProp" class="thumbnail crisis-listing">
            <a href="#/crises/{{crisis.id}}" class="thumb"><img ng-src="{{crisis.imageUrl}}"> </a>
            <a href="#/crises/{{crisis.id}}">{{crisis.name}}</a>
            <p>{{crisis.carrier}}</p>
        </li>
    </ul>
</div>