<div class="content-wrapper" ng-controller="mapInstanceCtrl">
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <div class="crises-data">
                <h4>Search: <input ng-model="query" ng-change="updateCrisis()" style="width:150px"></h4>
                <h4>Sort by:
                    <select ng-model="orderProp">
                        <option value="priority">Priority</option>
                        <option value="-id">Newest</option>
                    </select></h4>
            </div>

            <div class="filter">
                <h4>Filters</h4>
                <h5><input type="checkbox" ng-model="types_fire" ng-change="updateCrisis()" /> Fire &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" ng-model="types_dengue" ng-change="updateCrisis()"/> Dengue</h5>
                <h5><input type="checkbox" ng-model="types_flu" ng-change="updateCrisis()"/> Flu &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" ng-model="types_gas" ng-change="updateCrisis()"/> Gas Lease</h5>
                <h5><input type="checkbox" ng-model="types_rescue" ng-change="updateCrisis()"/> Rescue &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" ng-model="types_shelter" ng-change="updateCrisis()"/> CD Shelter</h5>
                <h5><input type="checkbox" ng-model="types_other" ng-change="updateCrisis()"/> Other</h5>
            </div>

            <ul class="crises">
                <li ng-repeat="crisis in map.markersForDisplay | orderBy:orderProp"
                    class="thumbnail crisis-listing">
                    <a class="thumb"><img ng-src="{{crisis.iconUrl}}"> </a>
                    Type: {{crisis.eventType.eventName}} &nbsp;|&nbsp; Priority: {{crisis.priority}}
                    Location: {{crisis.location}}



                    <p>{{crisis.carrier}}</p>
                </li>
            </ul>

        </section>
        <!-- /.sidebar -->
    </aside>

    <div class="container-fluid">
        <div class="angular-google-map-container">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">

                <!--<ui-gmap-marker ng-repeat="marker in map.markersForDisplay"> idKey='{{marker.id}}' coords='{{marker.coords}}' options='{{marker.options}}' icon='{{marker.iconUrl}}'>-->
                <!--</ui-gmap-marker>-->
                <ui-gmap-markers models="map.markersForDisplay" idkey="'id'" coords="'coords'"
                                 events="map.markersEvents" options="'options'" icon="'iconUrl'">
                    <ui-gmap-windows ng-show="showWindow" ng-cloak>
                        <div>
                            <p>{{currentDisplay}}</p>
                        </div>
                    </ui-gmap-windows>
                </ui-gmap-markers>

            </ui-gmap-google-map>
        </div>


        <!--</div>-->

        <!--</div>-->
    </div>
</div><!-- /.content-wrapper -->