<div class="content-wrapper" ng-controller="mapInstanceCtrl">
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="background-color: #00ca6d;height: 910px;margin-top: -60px">
        <div id="floating_over_map" style="background-color: transparent">
            <h4>Filters</h4>
            <h5><input type="checkbox" ng-model="types_fire" ng-change="updateCrisis()"/> Fire</h5>
            <h5><input type="checkbox" ng-model="types_dengue" ng-change="updateCrisis()"/> Dengue</h5>
            <h5><input type="checkbox" ng-model="types_flu" ng-change="updateCrisis()"/> Flu</h5>
            <h5><input type="checkbox" ng-model="types_gas" ng-change="updateCrisis()"/> Gas Lease</h5>
            <h5><input type="checkbox" ng-model="types_rescue" ng-change="updateCrisis()"/> Rescue</h5>
            <h5><input type="checkbox" ng-model="types_shelter" ng-change="updateCrisis()"/> CD Shelter</h5>
            <h5><input type="checkbox" ng-model="types_other" ng-change="updateCrisis()" /> Other</h5>
        </div>

        <div class="crises-data">
            <h4>Search: <input ng-model="query" ng-change="updateCrisis()"></h4>
            <h4>Sort by:
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
            </select></h4>

            <ul class="crises">
                <li ng-repeat="crisis in crises | filter:query | orderBy:orderProp" class="thumbnail crisis-listing">
                    <a href="#/crises/{{crisis.id}}" class="thumb"><img ng-src="{{crisis.imageUrl}}"> </a>
                    <a href="#/crises/{{crisis.id}}">{{crisis.location}}{{crisis.priority}}</a>
                    <p>{{crisis.carrier}}</p>
                </li>
            </ul>
        </div>
    </section>
    <!-- /.sidebar -->
</aside>

    <div class="container-fluid" >
        <div class="angular-google-map-container">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">

                <ui-gmap-markers models="map.markersForDisplay" idkey="'id'" coords="'coords'" events="map.markersEvents" options="'options'" icon="'iconUrl'">
                    <ui-gmap-windows ng-show="showWindow" ng-cloak>
                        <div>
                            <p>{{currentDisplay}}</p>
                        </div>
                    </ui-gmap-windows>
                </ui-gmap-markers>

            </ui-gmap-google-map>
        </div>


            <!--</div>-->

        <!--</div>-->
    </div>
</div><!-- /.content-wrapper -->