
    <p><label for="name">Reporter NRIC:</label>
        <input type="text" ng-model="crisis.reporter_id" id="name" placeholder="eg: S1111111A" value="" /><br /></p>

    <!--<p><label for="NRIC">NRIC:</label>-->
        <!--<input type="text" ng-model="crisis.NRIC" id="NRIC" placeholder="eg: S1111111A" value="" /><br /></p>-->

    <!--<p><label for="number">Contact Number:</label>-->
        <!--<input type="text" ng-model="crisis.report_id" id="contactNumber" placeholder="eg: 88888888" value="" /><br /></p>-->

    <p><label for="location">Priority:</label>
        <input type="text" ng-model="crisis.priority" id="location" placeholder="eg: 1" value="" /><br /></p>

    <p><label for="postalCode">Crisis Location:</label>
        <input type="text" ng-model="crisis.location" id="postalCode" placeholder="eg: 666666" value="" /><br /></p>

    <p><label for="type">Type:</label>
        <select class="form-control" ng-model="crisis.event_Type">
            <option value = "" selected="selected">Select Event Type</option>
            <option value = "dengue">Dengue</option>
            <option value = "flu">Flu</option>
            <option value = "rescue">Rescue and Evacuation</option>
            <option value = "fire">Fire-Fighting</option>
            <option value = "gas">Gas Leak Control</option>
            <option value = "shelter">New Shelter</option>
            <option value = "other">Other</option>
        </select><br />
    <p><label for="type">Status:</label>
        <select class="form-control" ng-model="crisis.status">
            <option value = "" selected="selected">Select Event Status</option>
            <option value = "pending">Pending</option>
            <option value = "resolved">Resolved</option>
        </select><br />

    <p><label for="description">Description:</label>
        <textarea cols="60" rows="11" ng-model="crisis.description" id="description"></textarea><br /></p>
    <p><input type="submit" class="formbutton" value="Submit" onclick='return window.confirm("Confirm submit?");'/></p>
