<link rel="stylesheet" href="css/Login.css">

<div class= "login-title">
    <h1>Crisis Management System</h1><br>
</div>
<div class="login-card">
    <h1>Call Center</h1>
    <form name = "myForm">
        <input type="text" id = "ID" name="login.id" placeholder="ID">
        <input type="password" id = "password" name="login.username" placeholder="Password">
        <input ui-sref="crises" type="submit" name="login" id = "submit" class="login login-submit" value="Login">
    </form>
    <footer class="clear">

        <p>&copy; 2015 CZ3003. by <a href="http://zypopwebtemplates.com/">Lemon Tea</a></p>
    </footer>

</div>